@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
  --font-heading: "Sora", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --color-primary: linear-gradient(135deg, #2B6CF0 0%, #1E40AF 100%);
  --color-secondary: #F4F8FF;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}